boto3
streamlit
streamlit_chat
elasticsearch
# openai
PyPDF2
docx2txt
pandas
requests
Pillow
streamlit-aggrid
sentence-transformers
google_auth_oauthlib
google-api-python-client
streamlit-player
st-pages
apify
streamlit-image-select
openpyxl
streamlit-image-select
streamlit-extras
geonamescache
geopy
opencage
folium
streamlit_folium
wordcloud
bokeh==2.4.3 
numpy
openai==0.27.8
openai-whisper==20230314
streamlit-audiorecorder
